.Home .card{
    border: 2px solid rgb(208, 202, 202);
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 10px 10px 10px 1px rgb(185, 181, 181);   
    margin: 30px;
    margin-top: 100px;
    padding: 10px;
}

.Home{
    display: flex;
    order: 2;
    flex-wrap: wrap;
    justify-content: center;

}